
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutInitial.cshtml";
}



<section style="text-align: center;">
    <br/><br/>
    <h1 class="font-weight-bold" style="color: Black; font-size: 65px">WELCOME TO </h1>
    @*<img src="~/images/logool.png" style="padding-top:0px; height: 90px; width: 200px" />*@<br/>
    <img src="~/images/logo.jpeg"/>

</section>

