
@{
    Layout = "_AdminLayout";
}

<br/>

<form id="myForm">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold" style="color: black">Basic Information</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="entryFor" class="col-form-label col-md-4">Entry For <span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <select class="form-control" name="entryFor" id="entryFor">
                                    <option value="0">select entry for</option>
                                    <option value="1">My Self</option>
                                    <option value="2">Other Person</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="entryType" class="col-form-label col-md-4">Entry Type <span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <select class="form-control" name="entryType" id="entryType">
                                    <option value="0">select entry type</option>
                                    <option value="1">Smuggle</option>
                                    <option value="2">Lose</option>
                                    <option value="3">Found</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="productType" class="col-form-label col-md-4">Product type <span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <select class="form-control" name="productType" id="productType">
                                    <option value="0">select product type</option>
                                    <option value="1">Vehicles</option>
                                    <option value="2">Document/Product</option>
                                    <option value="3">Livestock</option>
                                    <option value="4">Others</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="entryType" class="col-form-label col-md-4">Entry Type <span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <select class="form-control" name="entryType" id="entryType">
                                    <option value="0">select entry type</option>
                                    <option value="1">Smuggle</option>
                                    <option value="2">Lose</option>
                                    <option value="3">Found</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <br />
    <button type="button" class="btn btn-success float-right">Next</button>


    <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold" style="color: black">Details Information</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Vehicles Type<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <select class="form-control" name="" id="">
                                    <option value="0">select vehicles type</option>
                                    <option value="1">Motor Bike</option>
                                    <option value="2">Track</option>
                                    <option value="2">Bus</option>
                                    <option value="2">Privet Car</option>
                                    <option value="2">Van</option>
                                    <option value="2">Others</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Brand Name<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <select class="form-control" name="" id="">
                                    <option value="0">select brand name</option>
                                    <option value="1">YAHAMAHA</option>
                                    <option value="2">HONDA</option>
                                    <option value="3">HERO</option>
                                    <option value="3">OTEHRS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Model <span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <input type="text" name="" id="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="form-group row">
                            <label class="col-form-label col-md-3">Registration No<span style="color: red">*</span></label>
                            <div class="col-md-3">
                                <select class="form-control" name="" id="">
                                    <option value="0">select metro</option>
                                    <option value="1">Dhaka Metro</option>
                                    <option value="2">Chittagong Metro</option>
                                    <option value="3">Sylhet Metro</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" name="" id="">
                                    <option value="0">select group</option>
                                    <option value="1">ক</option>
                                    <option value="2">খ</option>
                                    <option value="3">ল</option>
                                    <option value="3">স</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="" id="" class="form-control" placeholder="enter reg no" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <label class="col-form-label col-md-2">Engine Number <span style="color: red">*</span></label>
                    <div class="col-md-10">
                        <input type="text" name="" id="" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Chassis No<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <input type="text" name="" id="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">CC<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <input type="text" name="" id="" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Year of making<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <input type="text" name="" id="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Country of making<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <input type="text" name="" id="" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold" style="color: black">Identifying Information</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Color<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option value="0">select color</option>
                                    <option value="0">Red</option>
                                    <option value="0">Black</option>
                                    <option value="0">Green</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Identifying mark<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Document. Type<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option value="0">select documentation type</option>
                                    <option value="0">Registration No</option>
                                    <option value="0">Others</option>
                                    <option value="0">Others</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">File<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <input type="file" name="" id="" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold" style="color: black">Details of lost space and time</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Division<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option value="0">select division</option>
                                    <option value="0">Dhaka</option>
                                    <option value="0">Chittagong</option>
                                    <option value="0">Sylhet</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Distric<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option value="0">select distric</option>
                                    <option value="0">Cumilla</option>
                                    <option value="0">Feni</option>
                                    <option value="0">Dhaka</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Thana<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option value="0">select thana</option>
                                    <option value="0">Cumilla Sadar</option>
                                    <option value="0">Homna</option>
                                    <option value="0">Moradnogor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Village / Area<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option value="0">select village or area</option>
                                    <option value="0">Dulal pur</option>
                                    <option value="0">Dulat pur</option>
                                    <option value="0">Homna</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Place details<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Date and Time<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <input type="datetime" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        
    </div>
</form>